{{- $p := index .presets .theme.preset -}}
gui:
  showFileTree: true
  showCommandLog: false
  nerdFontsVersion: "3"
  theme:
    activeBorderColor:
      - "{{ $p.dark.orange }}"
      - "bold"
    inactiveBorderColor:
      - "{{ $p.dark.cyan }}"
    searchingActiveBorderColor:
      - "{{ $p.dark.orange }}"
      - "bold"
    optionsTextColor:
      - "{{ $p.dark.blue }}"
    selectedLineBgColor:
      - "{{ $p.dark.selection }}"
    cherryPickedCommitFgColor:
      - "{{ $p.dark.blue }}"
    cherryPickedCommitBgColor:
      - "{{ $p.dark.magenta }}"
    markedBaseCommitFgColor:
      - "{{ $p.dark.blue }}"
    markedBaseCommitBgColor:
      - "{{ $p.dark.yellow }}"
    unstagedChangesColor:
      - "{{ $p.dark.red }}"
    defaultFgColor:
      - "{{ $p.dark.fg }}"

os:
  edit: '[ -n "$NVIM" ] && nvim --server "$NVIM" --remote-send ''<C-\><C-n><Cmd>lua vim.api.nvim_win_close(0, true);vim.cmd("edit "..vim.fn.fnameescape({{"{{filename}}"}}))<CR>'' || nvim {{"{{filename}}"}}'
  editAtLine: '[ -n "$NVIM" ] && nvim --server "$NVIM" --remote-send ''<C-\><C-n><Cmd>lua vim.api.nvim_win_close(0, true);vim.cmd("edit +{{"{{line}}"}} "..vim.fn.fnameescape({{"{{filename}}"}}))<CR>'' || nvim +{{"{{line}}"}} {{"{{filename}}"}}'

promptToReturnFromSubprocess: false
quitOnTopLevelReturn: true

git:
  pagers:
    - pager: |
        delta --syntax-theme "$(
          defaults read -g AppleInterfaceStyle 2>/dev/null \
            | grep -qi dark && echo '{{ $p.delta.dark }}' || echo '{{ $p.delta.light }}'
        )" --paging=never --line-numbers \
          --line-numbers-left-format="" \
          --line-numbers-right-format="{np:^4}│ " \
          --hyperlinks \
          --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
  autoFetch: false
  autoRefresh: false
